@font-face {
  font-family: "MarkDownIcon"; /* Project id  */
  src: url('MarkDownIcon.ttf?t=1678606436239') format('truetype');
}

.MarkDownIcon {
  font-family: "MarkDownIcon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-daimawenjian:before {
  content: "\f01c6";
}

.icon-tupian:before {
  content: "\e67f";
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-liebiao:before {
  content: "\e62d";
}

.icon-15qingkong-1:before {
  content: "\e680";
}

.icon-kuozhan:before {
  content: "\e620";
}

.icon-youxuliebiao:before {
  content: "\e6f0";
}

.icon-shipin:before {
  content: "\e60a";
}

.icon-zitixiahuaxian:before {
  content: "\ec85";
}

.icon-zitixieti:before {
  content: "\ec86";
}

.icon-zuoyouduiqi:before {
  content: "\ec87";
}

.icon-emoji:before {
  content: "\e6f6";
}

.icon-jiacu:before {
  content: "\e608";
}

.icon-html:before {
  content: "\e632";
}

.icon-quote:before {
  content: "\e60c";
}

.icon-zitidaxiao:before {
  content: "\e854";
}

