@font-face {
  font-family: "MarkDown"; /* Project id  */
  src: url('MarkDown.ttf?t=1678450896847') format('truetype');
}

.MarkDown {
  font-family: "MarkDown" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e67f";
}

.icon-lianjie:before {
  content: "\e6c8";
}

.icon-liebiao:before {
  content: "\e62d";
}

.icon-kuozhan:before {
  content: "\e620";
}

.icon-shipin:before {
  content: "\e60a";
}

.icon-zitixiahuaxian:before {
  content: "\ec85";
}

.icon-zitixieti:before {
  content: "\ec86";
}

.icon-zuoyouduiqi:before {
  content: "\ec87";
}

.icon-jiacu:before {
  content: "\e608";
}

.icon-html:before {
  content: "\e632";
}

.icon-quote:before {
  content: "\e60c";
}

.icon-a-daimakuai3x:before {
  content: "\e616";
}

.icon-zitidaxiao:before {
  content: "\e854";
}

