
$text-color: #FFFFFF;
$text-second: #C8C8C8;
$text-primary: #A4A4A4;

$text-night-color: #000000;
$text-night-second: #121212;
$text-night-primary: #242424;


$back: #000000;
$back-night: #FFFFFF;

$INFO: #2C84F8;
$INFO-Second: #4C97F9;
$SUCCESS: #16D9A8;
$SUCCESS-Second: #2CEABB;
$WARNING: #FFAB00;
$WARNING-Second: #FFB624;
$ERROR: #FF2B00;
$ERROR-Second: #FF4924;